@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Anybody', cursive; }

.accesoRapido {
  position: fixed;
  right: 40px;
  bottom: 40px; }

.accesoRapido img {
  width: 50px;
  height: 50px; }

/*---listas---*/
/*-----mapas----*/
/*----extends---*/
.display, .display div, .bandas, .bandas div, .pin, .pin div {
  display: flex;
  align-items: center; }

.productosDestacados .productosDiv, .marcas .contenedorMarcas, .productosSamsung .telefonosSam, .tarjetasApple .productosIphone, .consultas {
  display: flex;
  justify-content: space-around; }

.uneteIphone {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/*----mixin----*/
header nav {
  background-color: #03034b; }
  header nav div h2 {
    font-size: 80px;
    color: #37dd37;
    margin-right: 20px; }
  header nav div a img {
    width: 130px;
    height: 130px; }

header nav .container-fluid div form button {
  border: 3px solid #37dd37;
  color: #37dd37; }

/*----index-----*/
.hero {
  text-align: center;
  background: linear-gradient(#3c3c74, rgba(55, 221, 55, 0)), url("../img/fondo2.jpg");
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero h1 {
    font-style: italic;
    font-size: 80px;
    font-weight: 100px;
    color: #37dd37; }
  .hero p {
    font-style: italic;
    font-size: 40px;
    color: white; }

.descripcion {
  background-image: url(../img/imagendestacados.jpg);
  font-size: 40px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px; }
  .descripcion h2 {
    color: #37dd37; }
  .descripcion div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 30px;
    flex-direction: column;
    border: 10px solid #37dd37;
    font-style: oblique;
    padding: 30px; }
    .descripcion div a {
      text-decoration: none;
      color: #03034b;
      background-color: #37dd37;
      font-weight: bolder; }

.productosDestacados {
  background-image: url(../img/fotobien.jfif);
  background-repeat: no-repeat;
  background-size: cover; }
  .productosDestacados h2 {
    text-align: center;
    font-style: oblique;
    font-size: 40px;
    padding: 10px;
    color: #37dd37; }
  .productosDestacados .productosDiv {
    flex-wrap: wrap; }
    .productosDestacados .productosDiv div {
      width: 230px;
      height: 300px;
      margin: 30px;
      text-align: center;
      border: 5px solid #37dd37;
      background-color: #03034b;
      transition: 2s; }
      .productosDestacados .productosDiv div:hover {
        transform: scale(1.2); }
      .productosDestacados .productosDiv div img {
        width: 100%;
        height: 230px; }
      .productosDestacados .productosDiv div h3 {
        font-style: oblique;
        color: white;
        font-size: 20px; }
      .productosDestacados .productosDiv div a {
        text-decoration: none;
        color: #03034b;
        background-color: #37dd37;
        font-weight: bolder;
        padding: 3px; }

.marcas {
  background-color: black; }
  .marcas h2 {
    text-align: center;
    font-style: oblique;
    font-size: 40px;
    padding: 10px;
    color: #37dd37; }
  .marcas .contenedorMarcas {
    flex-wrap: wrap; }
    .marcas .contenedorMarcas div {
      width: 230px;
      height: 280px;
      margin: 30px;
      text-align: center;
      border: 5px solid #37dd37;
      background-color: #03034b; }
      .marcas .contenedorMarcas div img {
        width: 200px;
        height: 200px; }
      .marcas .contenedorMarcas div h3 {
        margin-bottom: 10px;
        font-style: oblique;
        color: white; }
      .marcas .contenedorMarcas div a {
        text-decoration: none;
        color: #03034b;
        background-color: #37dd37;
        font-weight: bolder;
        padding: 5px 10px; }

/*-----Samsung html------*/
.htmlSamsung {
  background-color: black; }

.articulos h1 {
  color: #37dd37;
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  padding: 10px; }

.productosSamsung {
  text-align: center;
  padding: 20px; }
  .productosSamsung h2 {
    color: #37dd37;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    padding: 10px; }
  .productosSamsung .telefonosSam {
    flex-wrap: wrap;
    margin: 20px; }
    .productosSamsung .telefonosSam div {
      border: 5px solid #37dd37;
      background-color: #03034b;
      transition: 1.5s; }
      .productosSamsung .telefonosSam div:hover {
        transform: scale(1.2); }
      .productosSamsung .telefonosSam div img {
        height: 230px;
        width: 230px;
        margin: 10px; }
      .productosSamsung .telefonosSam div h3 {
        color: white;
        margin: 10px; }
      .productosSamsung .telefonosSam div a {
        text-decoration: none;
        color: #03034b;
        background-color: #37dd37;
        font-weight: bolder;
        padding: 5px 5px; }

.gridGaleria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 20px; }
  .gridGaleria .gridSam img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 79px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 79px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 79px 0px rgba(0, 0, 0, 0.75); }

.img4 {
  grid-column: span 2; }

.img5 {
  grid-row: span 2; }

.img6 {
  grid-column: span 2; }

.galeriaSamsung {
  background-image: url(../img/z4flippubli.webp);
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover; }
  .galeriaSamsung h2 {
    font-size: 70px;
    font-style: oblique;
    color: #37dd37;
    text-align: left;
    padding: 20px; }

/*---------iphone htm-----*/
.htmlIphone {
  background-color: black; }

.bienvenidaApple h1 {
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  padding: 10px;
  margin: 20px;
  color: #37dd37; }

.tarjetasApple h2 {
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  padding: 10px;
  margin: 20px;
  color: #37dd37; }

.tarjetasApple .productosIphone {
  flex-wrap: wrap;
  margin: 20px; }
  .tarjetasApple .productosIphone div {
    border: 5px solid #37dd37;
    background-color: #03034b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1.5s; }
    .tarjetasApple .productosIphone div:hover {
      transform: scale(1.2); }
    .tarjetasApple .productosIphone div img {
      height: 230px;
      width: 230px;
      margin: 10px; }
    .tarjetasApple .productosIphone div h3 {
      color: white;
      margin: 10px; }
    .tarjetasApple .productosIphone div .tarjetas {
      width: 40px;
      height: 40px;
      display: flex; }
    .tarjetasApple .productosIphone div a {
      text-decoration: none;
      color: #03034b;
      background-color: #37dd37;
      font-weight: bolder;
      padding: 5px 5px; }

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  gap: 20px; }
  .grilla div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.apple2 {
  grid-column: span 2; }

.apple5 {
  grid-row: span 2; }

.apple6 {
  grid-column: span 2; }

.uneteIphone {
  padding: 10px;
  background-image: url(../img/iphone14pro.jpg);
  background-size: cover;
  width: 100%;
  height: 70vh; }
  .uneteIphone h2 {
    font-size: 70px;
    font-style: oblique;
    color: #37dd37;
    text-align: left;
    padding: 20px; }

/*----Accesorios Html------*/
.accesorioshtml {
  background-color: black; }

.carru div img {
  height: 500px;
  width: 100%;
  margin-bottom: 20px; }

.accesorios {
  background: linear-gradient(#0f0f0f, rgba(42, 23, 23, 0.636)), url(../img/accesorioshtml.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .accesorios .acce {
    font-style: oblique;
    font-size: 60px;
    font-weight: 500;
    color: #37dd37;
    text-align: center; }

.spigen h2 {
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  padding: 10px;
  margin: 20px;
  color: #37dd37; }

.spigen .funda {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .spigen .funda div {
    border: 5px solid #37dd37;
    background-color: #03034b;
    color: white;
    text-align: center;
    margin: 10px; }
    .spigen .funda div img {
      width: 250px;
      height: 250px; }
    .spigen .funda div h3 {
      margin: 10px; }
    .spigen .funda div a {
      text-decoration: none;
      color: #03034b;
      background-color: #37dd37;
      font-weight: bolder;
      padding: 5px; }
    .spigen .funda div form {
      margin: 10px;
      color: white; }

.cargadores h2 {
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  padding: 10px;
  margin: 20px;
  color: #37dd37; }

.cargadores .cables {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap; }
  .cargadores .cables div {
    border: 5px solid #37dd37;
    background-color: #03034b;
    color: white;
    text-align: center; }
    .cargadores .cables div img {
      width: 260px;
      height: 260px; }
    .cargadores .cables div h3 {
      margin: 10px; }
    .cargadores .cables div select {
      margin: 10px; }

/*-----servicio tecnico html---------*/
.tecnico {
  background-color: black;
  color: white; }
  .tecnico h1 {
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    padding: 10px;
    margin: 20px;
    color: #37dd37; }

.display {
  padding: 20px; }
  .display img {
    width: 500px;
    height: 400px; }
  .display div {
    flex-direction: column;
    margin: 20px; }
    .display div h2 {
      color: #37dd37;
      text-align: center;
      font-size: 40px;
      font-style: oblique;
      padding: 10px;
      margin: 20px; }
    .display div p {
      text-align: center; }

.bandas div {
  flex-direction: column;
  margin: 20px; }
  .bandas div h2 {
    color: #37dd37;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    padding: 10px;
    margin: 20px; }
  .bandas div p {
    text-align: center; }

.bandas img {
  width: 500px;
  height: 400px; }

.pin {
  margin: 20px;
  padding: 20px; }
  .pin img {
    width: 500px;
    height: 400px; }
  .pin div {
    flex-direction: column;
    margin: 20px; }
    .pin div h2 {
      color: #37dd37;
      text-align: center;
      font-size: 40px;
      font-style: oblique;
      padding: 10px;
      margin: 20px; }
    .pin div p {
      margin: 10px;
      text-align: center; }

.consultaServicio .cajaServicio {
  background-image: url(../img/serviciofondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .consultaServicio .cajaServicio h2 {
    color: #37dd37;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    padding: 10px;
    margin: 20px; }

/*------contacto html-----*/
.contacto {
  background-color: black; }

.portadaRegistro {
  display: flex;
  justify-content: center;
  align-items: center; }
  .portadaRegistro img {
    width: 30%;
    height: 40vh; }
  .portadaRegistro h1 {
    text-align: center;
    font-style: oblique;
    font-size: 40px;
    padding: 10px;
    color: #37dd37; }

.datos {
  color: white;
  background-image: url(../img/consulta1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #440844; }
  .datos h2 {
    text-align: center;
    font-style: oblique;
    font-size: 40px;
    padding: 10px;
    color: #37dd37; }

.pais {
  background-color: #03034b;
  color: white;
  background-image: url(../img/banderas.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 40vh;
  width: 100%; }
  .pais div h2 {
    text-align: left;
    color: #37dd37; }

.consultas {
  background-color: #0c3f0c;
  background-image: url(../img/contacto2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 30px; }
  .consultas div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-direction: column; }
    .consultas div h2 {
      text-align: center;
      color: #37dd37; }

footer {
  background-color: #03034b;
  display: flex;
  justify-content: space-between; }
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer ul li {
      color: white;
      list-style: none; }
  footer .redes {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    footer .redes div a img {
      width: 50px;
      height: 50px; }

@media screen and (max-width: 1250px) {
  .galeriaSamsung {
    background-image: url(../img/z4flippubli.webp);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%; }
  .descripcion {
    height: 80vh; } }

@media screen and (max-width: 1050px) {
  .galeriaSamsung {
    background-image: url(../img/z4flippubli.webp);
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%; }
    .galeriaSamsung h2 {
      font-size: 50px; }
  .productosSamsung .telefonosSam div {
    margin: 10px; }
  .descripcion {
    height: 60vh; }
    .descripcion h2 {
      font-size: 30px; }
    .descripcion div p {
      font-size: 20px; }
    .descripcion div a {
      font-size: 20px; }
  .productosIphone div {
    margin: 10px; }
  .uneteIphone h2 {
    font-size: 50px; }
  footer ul {
    text-align: center; }
  footer .redes h3 {
    text-align: center; } }

@media screen and (max-width: 1000px) {
  .hero h2 {
    font-size: 60px; }
  .hero p {
    font-size: 30px; }
  .productosSamsung .telefonosSam div {
    margin: 10px; }
  .display div h2 {
    font-size: 30px; }
  .bandas div h2 {
    font-size: 30px; }
  .pin div h2 {
    font-size: 30px; }
  .contacto h2 {
    font-size: 30px; }
  footer {
    flex-direction: column;
    align-items: center;
    font-size: 30px; }
    footer ul {
      font-size: 20px; }
    footer .redes h3 {
      text-align: center;
      font-size: 20px; }
    footer .redes div a img {
      width: 50px;
      height: 50px;
      margin: 20px; } }

@media screen and (max-width: 900px) {
  header {
    position: relative; }
  .productosSamsung .telefonosSam div {
    margin: 10px; }
  .hero {
    background: linear-gradient(#3c3c74, rgba(55, 221, 55, 0)), url("../img/fondo2.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%; }
    .hero h1 {
      font-size: 60px; }
    .hero p {
      font-size: 30px;
      text-align: center; }
  .descripcion {
    display: flex;
    flex-direction: column;
    height: 70vh; }
    .descripcion h2 {
      font-size: 30px;
      margin: 0px; }
    .descripcion div {
      margin: 20px;
      padding: 30px;
      border: 5px solid #37dd37; }
      .descripcion div p {
        font-size: 20px; }
      .descripcion div a {
        font-size: 20px;
        margin: 10px; }
  .gridGaleria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    gap: 20px; }
    .gridGaleria .gridSam {
      grid-column: span 1;
      grid-row: span 1; }
  .galeriaSamsung h2 {
    font-size: 40px; }
  .grilla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    gap: 20px; }
    .grilla .grillaA {
      grid-column: span 1;
      grid-row: span 1; }
  .accesorios .acce {
    font-size: 40px; }
  .spigen h2 {
    font-size: 30px; }
  .cargadores h2 {
    font-size: 30px; }
  .display {
    flex-direction: column; }
  .bandas {
    flex-direction: column-reverse; }
  .pin {
    flex-direction: column; }
  .tecnico h1 {
    font-size: 30px; }
  .datos {
    flex-direction: column;
    height: 70vh; }
    .datos h2 {
      margin: 10px; } }

@media screen and (max-width: 750px) {
  .descripcion {
    height: 75vh; }
  .contacto .portadaRegistro {
    flex-direction: column; }
    .contacto .portadaRegistro h1 {
      font-size: 20px; }
  .contacto h2 {
    font-size: 20px; }
  .contacto .consultas {
    background-image: url(../img/contacto2.webp);
    background-position: center;
    flex-direction: column; }
  .contacto .pais {
    background-image: url(../img/banderas.jpg);
    background-size: cover;
    background-position: center; }
  .articulos h1 {
    font-size: 30px; }
  .productosSamsung h2 {
    font-size: 30px; } }

@media screen and (max-width: 700px) {
  .hero {
    background: linear-gradient(#3c3c74, rgba(55, 221, 55, 0)), url("../img/fondo2.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%; }
  .descripcion h2 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh; }
  .productosSamsung .telefonosSam div {
    margin: 10px; }
  .display div h2 {
    font-size: 20px; }
  .display img {
    height: 350px;
    width: 350px; }
  .bandas div h2 {
    font-size: 20px; }
  .bandas img {
    height: 350px;
    width: 350px; }
  .pin div h2 {
    font-size: 20px; }
  .pin img {
    height: 350px;
    width: 350px; } }

@media screen and (max-width: 670px) {
  .productosSamsung .telefonosSam div {
    margin: 10px; }
  .galeriaSamsung h2 {
    font-size: 30px; }
  .descripcion {
    height: 80vh; }
  .bienvenidosApple h1 {
    font-size: 30px; }
  .tarjetasApple h2 {
    font-size: 30px; }
  .uneteIphone {
    padding: 10px;
    background-image: url(../img/iphone14pro.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh; }
    .uneteIphone h2 {
      font-size: 40px; } }

@media screen and (max-width: 620px) {
  .hero h1 {
    font-size: 40px; }
  .hero p {
    font-size: 20px; }
  .descripcion {
    height: 80vh;
    width: 100%; }
    .descripcion h2 {
      font-size: 20px; }
  .productosDestacados h2 {
    font-size: 20px; }
  .marcas h2 {
    font-size: 20px; }
  .tecnico h1 {
    font-size: 25px; }
  .bandas img {
    height: 300px;
    width: 350px; }
  footer {
    font-size: 20px; } }

@media screen and (max-width: 580px) {
  .descripcion {
    height: 90vh;
    width: 100%;
    padding: 10px; }
    .descripcion h2 {
      padding: 10px;
      font-size: 30px; }
    .descripcion div {
      font-size: 20px;
      text-align: center;
      border: 2px solid #37dd37; }
  .hero {
    background: linear-gradient(#3c3c74, rgba(55, 221, 55, 0)), url("../img/fondo2.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%; }
    .hero h1 {
      font-size: 40px; }
    .hero p {
      font-size: 20px; }
  .productosDestacados h2 {
    font-size: 30px; }
  .marcas h2 {
    font-size: 30px; }
  .productosSamsung .telefonosSam {
    margin: 10px; }
  .gridGaleria {
    grid-template-columns: repeat(1, 1fr); }
  .bienvenidaApple h1 {
    font-size: 30px; }
  .grilla {
    grid-template-columns: repeat(1, 1fr); }
  .uneteIphone h2 {
    font-size: 30px; }
  .accesorios .acce {
    font-size: 30px; }
  .cargadpres .cables div {
    margin: 10px; }
  .tecnico h1 {
    font-size: 20px; }
  .display img {
    height: 300px;
    width: 300px; }
  .display div {
    margin: 10px; }
    .display div h2 {
      margin: 10px; }
  .bandas img {
    height: 300px;
    width: 300px; }
  .bandas div {
    margin: 10px; }
    .bandas div h2 {
      margin: 10px; }
  .pin img {
    height: 300px;
    width: 300px; }
  .pin div {
    margin: 10px; }
    .pin div h2 {
      margin: 10px; }
  .consultaServicio .cajaServicio {
    background-image: url(../img/serviciofondo.jpg);
    background-size: cover;
    width: 100%;
    height: 50vh; } }

@media screen and (max-width: 450px) {
  .descripcion {
    height: 90vh; }
    .descripcion h2 {
      font-size: 20px; }
    .descripcion div p {
      font-size: 15px; }
  .productosDestacados h2 {
    font-size: 20px; }
  .marcas h2 {
    font-size: 20px; }
  .articulos h1 {
    font-size: 20px; }
  .productosSamsung h2 {
    font-size: 20px; }
  .galeriaSamsung h2 {
    font-size: 20px; }
  .productosSamsung .telefonosSam div {
    margin: 10px; }
  .uneteIphone {
    padding: 10px;
    background-image: url(../img/iphone14pro.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30vh; }
    .uneteIphone h2 {
      font-size: 20px; }
  .display img {
    height: 250px;
    width: 250px; }
  .bandas img {
    height: 250px;
    width: 250px; }
  .pin img {
    height: 250px;
    width: 250px; } }

@media screen and (max-width: 430px) {
  .descripcion {
    height: 100vh; }
  .bienvenidaApple h1 {
    font-size: 20px; }
  .tarjetasApple h2 {
    font-size: 20px; } }

@media screen and (max-width: 400px) {
  .hero {
    background: linear-gradient(#3c3c74, rgba(55, 221, 55, 0)), url("../img/fondo2.jpg");
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100%; }
    .hero p {
      font-size: 15px; }
  .descripcion {
    height: 110vh; }
    .descripcion h2 {
      font-size: 20px; }
    .descripcion div {
      font-size: 15px;
      text-align: center; }
  footer {
    font-size: 20px;
    text-align: center; }
    footer img {
      width: 100px;
      height: 100px; }
    footer ul {
      font-size: 15px; } }

@media screen and (max-width: 360px) {
  .descripcion {
    height: 120vh; } }
