@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------cssindex--------*/
body{
    font-family: 'Anybody', cursive;
}
/*------header------*/
header img{
    width: 110px;
    height: 110px;
    display: flex;
    text-align: left;
    padding: 20px;
}
header{
    background-color: rgb(3, 3, 75);
    position: sticky;
    top: 0%;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
header h1{
    font-style: oblique;
    color: rgb(55, 221, 55);
    font-size: 100px;
    font-weight: 100px;
}
header nav ul li{
    margin: 10px 10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/*------main-------*/
main{
    background-color: black;
}
.hero {
    color: white;
    text-align: center;
    background: linear-gradient(rgb(60, 60, 116), rgba(55, 221, 55, 0)), url("../img/fondo2.jpg");
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h2{
    font-style: italic;
    font-size: 80px;
    font-weight: 100px;
}
.hero p{
    font-style: italic;
    font-size: 40px;
}

.accesoRapido{
    position: fixed;
    right: 40px;
    bottom: 40px;
}
.accesoRapido img{
    width: 50px;
    height: 50px;
}

/*------descripcion*/

.descripcion{
    background-image: url(../img/imagendestacados.jpg);
    font-size: 40px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descripcion div{
    color: white;
    display: flex;
    font-size: 30px;
    margin: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 10px solid rgb(55, 221, 55);
    padding: 30px;
    font-style: oblique;
}
.descripcion div a{
    text-decoration: none;
    color: rgb(3, 3, 75);
    background-color: rgb(55, 221, 55);
    font-weight: bolder;
}



/*------productosDestacados------*/
.productosDestacados{
    background-image: url(../img/fotobien.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.productosDiv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.productosDiv div{
    transition: 2s;
}
.productosDiv div:hover{
    transform: scale(1.2);
}
.productosDestacados a{
    text-decoration: none;
    color: rgb(3, 3, 75);
    background-color: rgb(55, 221, 55);
    font-weight: bolder ;
    padding: 5px 10px;
}

.productosDestacados h3{
    font-style: oblique;
    color: white;
}

h2{
    color: rgb(55, 221, 55);
}
.productosDestacados h2{
    text-align: center;
    font-style: oblique;
    font-size: 40px;
    padding: 10px;
}

.productosDestacados .productosDiv div{
    width: 230px;
    height: 280px;
    margin: 30px;
    text-align: center;
    border: 5px solid rgb(55, 221, 55);
    background-color: rgb(3, 3, 75);

}
.productosDestacados div img{
    width: 100%;
    height: 230px;
}

.productosDestacados div a{
    padding: 3px;
}

/*-----marcas-----*/

.marcas .contenedorMarcas div{
    width: 230px;
    height: 280px;
    margin: 30px;
    text-align: center;
    border: 5px solid rgb(55, 221, 55);
    background-color: rgb(3, 3, 75);
}

.marcas img{
    width: 200px;
    height: 200px;
}
.marcas h3{
    margin-bottom: 10px;
    font-style: oblique;
}
.marcas h2{
    text-align: center;
    font-style: oblique;
    font-size: 40px;
    padding: 10px;
}

.marcas a{
    text-decoration: none;
    color: rgb(3, 3, 75);
    background-color: rgb(55, 221, 55);
    font-weight: bolder ;
    padding: 5px 10px;
}

.marcas .contenedorMarcas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*-----------footer-------*/

footer .redes a img{
    width: 50px;
    height: 50px;
}
footer{
    background-color: rgb(3, 3, 75);
    display: flex;
    justify-content: space-between;
}
footer ul li{
    color: white;
    list-style: none;
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
footer .redes{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*----SAMSUNG html--------*/

.productosSamsung{
    text-align: center;
    padding: 20px;
}
.htmlSamsung .tituloSamsung h2{
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    padding: 10px;
}
.htmlSamsung{
    background-color: black;
}
.htmlSamsung .productosSamsung div h3{
    color: white;
    margin: 10px;
}

.htmlSamsung .productosSamsung div img{
    height: 230px;
    width: 230px;
    margin: 10px;
}
.productosSamsung .telefonosSam{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}
.telefonosSam div{
    transition: 1.5s;
}
.telefonosSam div:hover{
    transform: scale(1.2);
}

.productosSamsung .telefonosSam div{
    border: 5px solid rgb(55, 221, 55);
    background-color: rgb(3, 3, 75);
}

.htmlSamsung .productosSamsung .telefonosSam div a{
    text-decoration: none;
    color: rgb(3, 3, 75);
    background-color: rgb(55, 221, 55);
    font-weight: bolder ;
    padding: 5px 5px;
}

.gridGaleria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
    gap: 20px;
}

.gridGaleria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 79px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 79px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 79px 0px rgba(0,0,0,0.75);
}

.img4{
    grid-column: span 2;
}

.img5{
    grid-row: span 2;
}

.img6{
    grid-column: span 2;
}

.galeriaSamsung {
    background-image: url(../img/z4flippubli.webp);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.galeriaSamsung h2{
    font-size: 70px;
    font-style: oblique;
    color: rgb(55, 221, 55);
    text-align: left;
    padding: 20px;
}


/*------REGISTROHTML------------*/
.contacto{
    background-color: black;
}
.portadaRegistro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portadaRegistro img{
    width: 30%;
    height: 40vh;
    }

.portadaRegistro h2{
    text-align: center;
    font-style: oblique;
    font-size: 40px;
    padding: 10px;
}
.datos{
    background-color: tomato;
    color: white;
    background-image: url(../img/consulta1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
}

.consultas div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-direction: column;
}

.consultas h2{
    text-align: center;
}

.datos{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(68, 8, 68);
}
.pais{
    background-color: rgb(3, 3, 75);
    color: white;
    background-image: url(../img/banderas.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 40vh;
    width: 100%;
}
.pais h2{
    text-align: left;
}

.consultas{
    background-color: rgb(12, 63, 12);
    background-image: url(../img/contacto2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.consultas{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

/*---------Iphone html-------*/

h2{
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    padding: 10px;
}

.htmlIphone{
    background-color: black;
}

.htmlIphone .productosIphone{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.htmlIphone .productosIphone div{
    border: 5px solid rgb(55, 221, 55);
    background-color: rgb(3, 3, 75);
    text-align: center;
    display: flex;
    justify-content: space-around;    
    align-items: center;
    flex-direction: column;
}

.htmlIphone .productosIphone .tarjetas{
    width: 40px;
    height: 40px;
    display: flex;
}
    
.htmlIphone .productosIphone div a{
    text-decoration: none;
    color: rgb(3, 3, 75);
    background-color: rgb(55, 221, 55);
    font-weight: bolder ;
    padding: 5px 5px;
}

.htmlIphone .productosIphone div h3{
    color: white;
    margin: 10px;
}

.htmlIphone .productosIphone div img{
    height: 230px;
    width: 230px;
    margin: 10px;
}

.grilla{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px;
    gap: 20px;
}

.grilla div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grilla2{
    grid-column: span 2;
}

.grilla5{
    grid-row: span 2;
}

.grilla6{
    grid-column: span 2;
}


.uneteIphone{

    padding: 10px;
    background-image: url(../img/iphone14pro.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

.uneteIphone h2{
    font-size: 70px;
    font-style: oblique;
    color: rgb(55, 221, 55);
    text-align: left;
    padding: 20px;
}

/*-------accesorios html--------*/
.accesorioshtml{
    background-color: black;
}

.accesorioshtml h2{
    margin: 20px;
    
}
.accesorios{
    background-image: url(../img/accesorioshtml.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accesorios .acce{
    font-style: oblique;
    font-size: 80px;
    font-weight: 500;
}


.spigen .funda{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    flex-wrap: wrap;
}
.spigen .funda div{
    border: 5px solid rgb(55, 221, 55);
    background-color: rgb(3, 3, 75);
    color: white;
    text-align: center;
    margin: 10px;
}

.spigen .funda div a{
    text-decoration: none;
    color: rgb(3, 3, 75);
    background-color: rgb(55, 221, 55);
    font-weight: bolder ;
    padding: 5px;
}

.spigen .funda div h3{
    margin: 10px;
}

.spigen .funda div form{
    margin: 10px;
}

.spigen div form{
    color: white;
}

.accesorioshtml .spigen img{
width: 250px;
height: 250px;
}


.cargadores .cables div{
    border: 5px solid rgb(55, 221, 55);
    background-color: rgb(3, 3, 75);
    color: white;
    text-align: center;
}

.cargadores .cables{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.cargadores .cables div img{
    width: 260px;
    height: 260px;
}

.cargadores .cables div h3{
    margin: 10px;
}

.cargadores .cables div select{
    margin: 10px;
}

/*----------Servicio Tecnico--------*/

.tecnico{
    background-color: black;
    color: white;
}

.tecnico .display{
    display: flex;
    align-items: center;
    padding: 20px;
}

.tecnico .display img{
    width: 500px;
    height: 400px;
}

.tecnico .display div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.tecnico .display div p{
    text-align: center;
}

.tecnico .bandas{
    display: flex;
    align-items: center;
}

.tecnico .bandas img{
    width: 500px;
    height: 400px;
}

.tecnico .bandas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.tecnico .bandas div p{
    text-align: center;
}

.tecnico .pin{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.tecnico .pin div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.tecnico .pin img{
    width: 500px;
    height: 400px;
}

.tecnico .pin p{
    margin: 10px;
    text-align: center;
}

.consultaServicio .cajaServicio{
    background-image: url(../img/serviciofondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/****media query*****/
@media screen and (max-width:1250px){
    .galeriaSamsung{
        background-image: url(../img/z4flippubli.webp);
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
    }
}


@media screen and (max-width:1050px){
    header{
        flex-direction: column;
        align-items: center;
    }
    .galeriaSamsung{
        background-image: url(../img/z4flippubli.webp);
        background-size: cover;
        background-position: center;
        height: 40vh;
        width: 100%;
    }
    .galeriaSamsung h2{
        font-size: 50px;
    }
    .telefonosSam div{
        margin: 10px;
    }
}

@media screen and (max-width:1000px){
    footer{
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }
    footer img{
        width: 150px;
        height: 150px;
        margin: 20px;
    }
    .telefonosSam div{
        margin: 10px;
    }
    }
@media screen and (max-width:900px){
    .telefonosSam div{
        margin: 10px;
    }
    .hero{
        background: linear-gradient(rgb(60, 60, 116), rgba(55, 221, 55, 0)), url("../img/fondo2.jpg");
        background-size: cover;
        background-position: center;
        height: 60vh;
        width: 100%;
    }
    .descripcion{
        background-image: url(../img/imagendestacados.jpg);
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
    }
    .hero h2{
        font-size: 60px;
    }
    .hero p{
        font-size: 30px;
        text-align: center;
    }
    .descripcion{
        flex-direction: column;
        height: 30vh;
    }   
    .descripcion p{
        font-size: 20px;
    }
    .descripcion h2{
        font-size: 30px;
        margin: 0px;
    }
    .descripcion div{
        margin: 20px;
        padding: 30px;
        border: 5px solid rgb(55, 221, 55);
    }
    .descripcion div a{
        font-size: 20px;
        margin: 10px;
    }
    .gridGaleria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 200px;
        gap: 20px;
    }
    .gridSam{
        grid-column: span 1;
        grid-row: span 1;
    }
    .galeriaSamsung{
        background-image: url(../img/z4flippubli.webp);
        background-size: cover;
        background-position: center;
        height: 30vh;
        width: 100%;
    }
    .galeriaSamsung h2{
        font-size: 40px;
    }
}


@media screen and (max-width:700px){
    .hero{
        background: linear-gradient(rgb(60, 60, 116), rgba(55, 221, 55, 0)), url("../img/fondo2.jpg");
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
    }
    .descripcion{
        background-image: url(../img/imagendestacados.jpg);
        background-size: cover;
        background-position: center;
        height: 40vh;
    }

    .descripcion{
        flex-direction: column;
        height: 30vh;
        padding: 10px;
    }
    .descripcion h2{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20vh;
    }
    .telefonosSam div{
        margin: 10px;
    }

}
@media screen and (max-width:650px){
    .telefonosSam div{
        margin: 10px;
    }
    .galeriaSamsung{
        background-image: url(../img/z4flippubli.webp);
        background-size: cover;
        background-position: center;
        height: 20vh;
        width: 100%;
}
    .galeriaSamsung h2{
        font-size: 30px;
    }


@media screen and (max-width:620px){
    nav ul{
        flex-direction: column;
    }
    header nav ul li{
        margin: 5px;
    }
    header h1{
        font-size: 60px;
    }
}

@media screen and (max-width:580px){
    .telefonosSam div{
        margin: 10px;
    }
    .hero{
        background: linear-gradient(rgb(60, 60, 116), rgba(55, 221, 55, 0)), url("../img/fondo2.jpg");
        background-size: cover;
        background-position: center;
        height: 40vh;
        width: 100%;
    }
    footer{
        font-size: 20px;
    }
    footer img{
        width: 130px;
        height: 130px;
    }
    .hero h2{
        font-size: 40px;
    }
    .hero p{
        font-size: 20px;
    }
    .descripcion{
        height: 40vh;
    }

    .descripcion h2{
        padding: 10px;
    }
    .descripcion div{
        font-size: 20px;
        text-align: center;
    }
    .descripcion h2{
        font-size: 30px;
    }
    .productosDestacados h2{
        font-size: 30px;
    }
    .marcas h2{
        font-size: 30px;
    }
    .gridGaleria{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width:450px){
    .descripcion h2{
        font-size: 30px;
    }
    .descripcion p{
        font-size: 15px;
    }
    .productosSamsung h2{
        font-size: 20px;
    }
    .galeriaSamsung h2{
        font-size: 20px;
    }
    .articulos h2{
        font-size: 30px;
    }
    .telefonosSam div{
        margin: 10px;
    }
}


@media screen and (max-width:400px){
    .hero{
        background: linear-gradient(rgb(60, 60, 116), rgba(55, 221, 55, 0)), url("../img/fondo2.jpg");
        background-size: cover;
        background-position: center;
        height: 30vh;
        width: 100%;
    }

    .hero p{
        font-size: 15px;
    }

    .descripcion{
        background-image: url(../img/imagendestacados.jpg);
        background-size: cover;
        background-position: center;
        height: 70vh;
        width: 100%;
    }
    .descripcion div{
        border: 5px solid rgb(55, 221, 55);
    }
    footer{
        font-size: 20px;
        text-align: center;
    }
    footer img{
        width: 100px;
        height: 100px;
    }
    header h1{
        font-size: 30px;
    }

    header ul{
        font-size: 10px;
    }
    .descripcion h2{
        font-size: 20px;
    }
    .descripcion div{
        font-size: 15px;
        text-align: center;
    }
}
    .productosDestacados{
        background-image: url(../img/fotobien.jfif);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;
    }
    .descripcion{
        height: 30vh;
    }
    }

    @media screen and (max-width:360px){
        .descripcion{
            height: 35vh;
        }
    }