header{
    nav{
        background-color: $color-azul;
        div{
            h2{
                font-size: 80px;
                color: $color-verde;
                margin-right: 20px;
            }
            a{
                img{
                    width: 130px;
                    height: 130px;
                } 
            }
        }
    }
}

header{
    nav{
        .container-fluid{
            div{
                form{
                    button{
                        border: 3px solid $color-verde;
                        color: $color-verde;
                    }
                }
            }
        }
    }
}





