header{
    background-color: rgb(3, 3, 75);
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    img{
        width: 150px;
        height: 150px;
        display: flex;
        text-align: left;
        padding: 20px;
    }
    h1{
        font-style: oblique;
        color: rgb(55, 221, 55);
        font-size: 100px;
        font-weight: 100px;
    }
    nav{
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            li{
                a{
                    margin: 10px;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}


